<!DOCTYPE html>
<html>
<head>
  <title>SZ</title>
   
  <%= stylesheet_link_tag    "my", :media => "all" %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
<div id = "main_container">
	</head>
			<body id = "store">
				<div id="banner">
								SZ
				(Shopping Zone)
				</div>
				<div id="columns">
						<div id="side">
								<%if(session[:user_id]) %>
									<h5></h5>
									
									
									<%=link_to 'Home ' ,  store_path%></br>
									<%=link_to 'profile' ,  user_path(session[:user_id])  %></br>
									<%if( session[:user_name]=="admin")%>
											<%=link_to 'orders' , orders_path%>
									<%end%>
									<%= link_to 'Logout', logout_path, :method => :delete %></br>
									<%else%>
									
								 <h5></h5>
								 <%= link_to "login", { :controller => "sessions", :action => "new" }%></br>
								 <%=link_to "new_user" ,new_user_path%></br>
								 
								 
								
								 <%end%>
						</div>
				</div>
				<div id="main">
				
						<%= yield %>
						   <%if(session[:user_id])%>
									<script>(function(d, s, id)
										{
											var js, fjs = d.getElementsByTagName(s)[0];
											if (d.getElementById(id)) return;
											js = d.createElement(s); js.id = id;
											js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=536302879753327";
											fjs.parentNode.insertBefore(js, fjs);
										}(document, 'script', 'facebook-jssdk'));
								 </script>
							<%end%>
							
					</div> 
					<div class="fb-like" data-send="true" data-width="450" data-show-faces="true"></div>
			</body>
		</html>
</div>